[req]
default_bits       = 2048
default_keyfile    = keytmp.pem
distinguished_name = req_distinguished_name
x509_extensions    = v3_ca
prompt             = no

[req_distinguished_name]
C  = US
ST = State
L  = City
O  = Organization
OU = Department
CN = localhost.com
emailAddress = admin@localhost.com

[v3_ca]
subjectAltName = @alt_names
basicConstraints = CA:TRUE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[alt_names]
DNS.1 = localhost.com
DNS.2 = www.localhost.com
